form.well label {
    font-weight: bold;
    width: 40px;
}
form.well input {
    width: 295px;
}

.form-container {
    width: 500px;
    margin: auto;
    margin-top: 20px;
}

.loader {
    float: right;
    margin-top: 4px;
    margin-right: 5px;
    display: inline;
}
.loader img {
    display: inline;
    max-height: 20px;
    max-width: 20px;
}
